- if articles
  - articles.each do |article|

    .article
      .image{style: "background-image: url(#{image_path article.image})"}

      .content= truncate strip_tags(article.content), length: 120

      .title
        %h2= article.title
        .read-more= link_to t("articles.read_more"), article_path(article)
