#single-article
  .article
    .image{style: "background-image: url(#{image_path @article.image})"}
    .title
      %h2= @article.title
    .content
      = raw @article.content
  .navigation
    = render "article_navigation", article: @article
