#descriptive-navigation
  %h3= raw t(".bar.description",
    article_url: main_app.articles_url, twitter_url: "http://www.twitter.com/kevintuhumury", flickr_url: "http://www.flickr.com/kevintuhumury", facebook_url: "http://www.facebook.com/kevintuhumury", github_url: "http://www.github.com/kevintuhumury")
