#descriptive-navigation
  %h3= raw t('.bar.description_html',
    article_url: main_app.articles_url, photo_url: main_app.kuva_url, twitter_url: 'http://www.twitter.com/kevintuhumury', flickr_url: 'http://www.flickr.com/kevintuhumury', facebook_url: 'http://www.facebook.com/kevintuhumury', github_url: 'http://www.github.com/kevintuhumury')
