#features
  -# .feature#featured-article
  -#   .content
  -#     %span.image
  -#     %p ...
  -#   .overlay
  -#     .title= t("feature.weblog")
  -#     .description
  -#       Lorem ipsum dolor sit amet...
  .feature
    .content
      %p &nbsp;
  .feature
    .content
      %p &nbsp;
  .feature
    .content
      %p &nbsp;
