#single-article
  .article
    +border-radius(10px)
    background: rgba(0, 0, 0, 0.25)
    width: $article-width
    margin: 10px

    .image
      +border-top-right-radius(10px)
      +border-top-left-radius(10px)
      +background-size(contain)
      background-position: center
      background-repeat: no-repeat
      width: $article-width
      height: 260px

    .title
      +background(linear-gradient(darken($light-gray, 5%), darken($light-gray, 10%)))
      width: $article-width
      height: 45px

      h2
        +title-font-inverted
        font-size: 16px
        padding: 10px 20px

    .content
      padding: 20px

      .firstChild
        font-size: 14px

      h3, h4
        +title-font-inverted
        font-size: 16px
        margin-bottom: 10px

      h4
        font-size: 14px

      ul
        padding-left: 20px

        li
          list-style-type: disc

      a
        background-color: $red
        padding: 2px 3px

        &:hover
          background-color: $light-gray
