#single-article
  .navigation
    width: $article-width
    height: 50px
    margin: 10px
    padding: 20px 0 0

    ul
      position: absolute
      width: $article-width

      li
        +transition-property(all)
        +transition-duration(200ms)
        position: absolute
        overflow: hidden
        display: block
        width: $article-navigation-item-width
        height: 42px

        a
          display: block
          width: $article-navigation-item-width

          .title
            +excerpt
            +title-font-embossed
            display: inline-block
            position: absolute
            opacity: 0
            width: $article-navigation-item-width - 130
            font-size: 14px
            line-height: 38px

          .button
            +title-font-inverted
            +border-radius(25px)
            background: rgba(0, 0, 0, 0.25)
            position: absolute
            padding: 7px 16px 10px
            line-height: 25px

        &:hover
          cursor: pointer
          overflow: visible
          z-index: 2

          .title
            opacity: 1

          .button
            +background(linear-gradient($red, darken($red, 25%)))

        &.prev
          left: 0

          a
            .title
              left: -400px

            .button
              left: 0

        &.prev:hover
          left: 20px

          a
            .title
              left: 110px

        &.upcoming
          right: 0

          a
            .title
              right: -400px
              text-align: right

            .button
              right: 0

        &.upcoming:hover
          right: 20px

          a
            .title
              right: 130px
