#carousel
  background-color: $dark-brown
  overflow: hidden
  padding-left: 5px
  height: 185px

  .items
    overflow: hidden
    width: 1085px
    margin: 20px 0 0

    ul
      width: 99999px
      +transition-property(all)
      +transition-duration(1s)

      li
        position: relative
        display: inline-block
        width: 150px
        height: 104px
        margin: 15px

        a
          display: block
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0

          .bg-image
            +border-radius(10px)
            +background-size(cover)
            background-position: center
            background-repeat: no-repeat
            width: 150px
            height: 104px

          .title
            +title-font-embossed
            +border-bottom-right-radius(10px)
            +border-bottom-left-radius(10px)
            +transition-property(height)
            +transition-duration(500ms)
            background: rgba(0, 0, 0, 0.5)
            font-size: 13px
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            position: absolute
            right: 0
            bottom: 0
            left: 0
            height: 20px
            padding: 10px

        &:hover
          a
            .title
              +transition-property(height)
              +transition-duration(500ms)
              text-align: left
              white-space: normal
              height: 84px

        .empty
          +border-radius(10px)
          background-color: $lighter-brown
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0

  .navigation
    text-align: center

    ul
      li
        display: inline-block
        width: 10px
        height: 10px

        span
          +border-radius(10px)
          background-color: lighten($lighter-brown, 10%)
          display: block
          width: 10px
          height: 10px
          cursor: pointer

        &.active
          span
            background-color: #fff
