$padding: 6px

.kuva-sets, .kuva-photos
  h1
    +embossed
    font-family: "Crete Round"
    font-size: 18px
    letter-spacing: 1px
    margin: 20px 0 12px

ul.photosets
  li
    img
      background: rgba(0, 0, 0, 0.25)
      padding: 10px

    .title
      left: 12px
      right: 12px
      bottom: 26px

    .number_of_photos
      +embossed
      position: absolute
      left: $padding
      right: $padding
      bottom: $padding
      padding: 10px
