$dark-brown: #0a0a0a
$light-brown: #191919
$lighter-brown: #171717

$highlight-brown: #101010
$shadow-brown: #0a0a0a

$darkest-gray: #343434
$dark-gray: #414141
$light-gray: #4e4e4e
$shadow-gray: #151515

$red: #be1111

$block-height: 180px
$block-width: 310px

$article-width: 1000px
$article-navigation-item-width: $article-width / 2

$latest-article-width: 680px
